/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to top, #fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}
.appointment-card {
  width: 86%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 550px;
}
@media (min-width: 768px) {
  .appointment-card {
    width: 76%;
    max-width: 1120px;
  }
}

.appointments-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 972px;
}

.add-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}
.heading {
  color: #171f46;
  font-size: 20px;
  font-family: 'Robot';
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .heading {
    font-size: 32px;
    margin-bottom: 48px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form {
    width: 45%;
    max-width: 320px;
  }
}

.lable {
  color: #7e858e;
  font-size: 13px;
  font-family: 'Robot';
  margin-bottom: 10px;
  font-weight: 500;
}

.input-element {
  color: #131415;
  font-family: 'Roboto';
  font-size: 12px;
  border: 1px solid #7e858e;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 24px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .input-element {
    font-size: 14px;
  }
}

.add-button {
  align-self: flex-start;
  background-color: #8b5cf6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  cursor: pointer;
}

.app-addApointment-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .app-addApointment-img {
    display: block;
    width: 49%;
  }
}

hr {
  width: 100%;
  border: 1px solid #b5b7c4;
  margin-top: 25px;
  margin-bottom: 32px;
}

.appointment-stars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media screen and (min-width: 768px) {
  .appointment-stars-container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.appointments-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .appointments-heading {
    font-size: 24px;
  }
}

.filter-style {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
.filter-filled {
  color: #ffffff;
  background-color: #9897f0;
}

.filter-empty {
  color: #9897f0;
  background-color: white;
  border: 1px solid #9897f0;
}

.appointments-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin-top: 24px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .appointments-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
